<div id="janpdf" xmlns="http://www.w3.org/1999/html">
    <div id="outerContainer">
        <div id="mainContainer">
            <div id="viewerContainer" tabindex="0">
                <div id="viewer" class="pdfViewer"></div>
            </div>
        </div> <!-- mainContainer -->

        <div id="dialogContainer">
            <dialog id="passwordDialog">
                <div class="row">
                    <label for="password" id="passwordText" data-l10n-id="pdfjs-password-label">Enter the password to
                        open this PDF file:</label>
                </div>
                <div class="row">
                    <input type="password" id="password" class="toolbarField">
                </div>
                <div class="buttonRow">
                    <button id="passwordCancel" class="dialogButton"><span data-l10n-id="pdfjs-password-cancel-button">Cancel</span>
                    </button>
                    <button id="passwordSubmit" class="dialogButton"><span
                            data-l10n-id="pdfjs-password-ok-button">OK</span></button>
                </div>
            </dialog>
        </div>  <!-- dialogContainer -->
        <div id="jansunusedcontainer" style="display: none">
            <!--not used Actions AltText-->
            <dialog id="altTextDialog"/>
            <dialog id="documentPropertiesDialog"/>
            <button id="altTextCancel"></button>
            <button id="altTextSave"></button>
            <button id="decorativeButton"></button>
            <button id="descriptionButton"></button>
            <!--not used Actions PDFDocumentProperties-->
            <div id="fileNameDiv"></div>
            <div id="fileSizeDiv"></div>
            <div id="titleDiv"></div>
            <div id="authorDiv"></div>
            <div id="subjectDiv"></div>
            <div id="keywordsDiv"></div>
            <div id="creationDateDiv"></div>
            <div id="modificationDateDiv"></div>
            <div id="creatorDiv"></div>
            <div id="producerDiv"></div>
            <div id="versionDiv"></div>
            <div id="pageCountDiv"></div>
            <div id="pageSizeDiv"></div>
            <div id="linearizedDiv"></div>
            <div id="documentPropertiesClose"></div>
            <!--not used Actions Sidebar-->
            <button id="sidebarToggle"></button>
            <button id="viewFind"></button>
            <button id="print"></button>
            <div id="viewBookmark"></div>
            <div id="secondaryDownload"></div>
            <div id="secondaryPrint"></div>
            <div id="secondaryToolbarToggle"></div>
            <div id="findbar"></div>
            <div id="sidebarContainer"></div>
            <div id="sidebarResizer"></div>
            <div id="editorFreeTextFontSize"></div>
            <div id="editorFreeTextColor"></div>
            <div id="editorInkColor"></div>
            <div id="editorInkThickness"></div>
            <div id="editorInkOpacity"></div>
            <div id="editorFreeHighlightThickness"></div>
            <div id="editorHighlightShowAll"></div>
            <div id="editorFreeText"></div>
            <div id="editorFreeTextParamsToolbar"></div>

            <div id="editorHighlightParamsToolbar"></div>
            <div id="editorHighlightColorPicker"></div>
            <div id="editorInk"></div>
            <div id="editorInkParamsToolbar"></div>
            <div id="secondaryOpenFile"></div>

            <button id="editorStamp"></button>
            <button id="editorStampParamsToolbar"></button>
            <button id="editorStampAddImage"></button>
            <button id="documentProperties"></button>
            <div id="spreadModeButtons" role="radiogroup">
                <button id="spreadNone"  title="Do not join page spreads"
                        tabindex="66" data-l10n-id="pdfjs-spread-none-button" role="radio" aria-checked="true">
                    <span data-l10n-id="pdfjs-spread-none-button-label">No Spreads</span>
                </button>
                <button id="spreadOdd"
                        title="Join page spreads starting with odd-numbered pages" tabindex="67"
                        data-l10n-id="pdfjs-spread-odd-button" role="radio" aria-checked="false">
                    <span data-l10n-id="pdfjs-spread-odd-button-label">Odd Spreads</span>
                </button>
                <button id="spreadEven"
                        title="Join page spreads starting with even-numbered pages" tabindex="68"
                        data-l10n-id="pdfjs-spread-even-button" role="radio" aria-checked="false">
                    <span data-l10n-id="pdfjs-spread-even-button-label">Even Spreads</span>
                </button>
            </div>
            <button id="pageRotateCw" class="secondaryToolbarButton" title="Rotate Clockwise" tabindex="58"
                    data-l10n-id="pdfjs-page-rotate-cw-button">
                <span data-l10n-id="pdfjs-page-rotate-cw-button-label">Rotate Clockwise</span>
            </button>
            <button id="pageRotateCcw" class="secondaryToolbarButton" title="Rotate Counterclockwise"
                    tabindex="59" data-l10n-id="pdfjs-page-rotate-ccw-button">
                <span data-l10n-id="pdfjs-page-rotate-ccw-button-label">Rotate Counterclockwise</span>
            </button>
            <div id="findbarOptionsOneContainer">
                <input type="checkbox" id="findHighlightAll" class="toolbarField" tabindex="94">
                <label for="findHighlightAll" class="toolbarLabel" data-l10n-id="pdfjs-find-highlight-checkbox">Highlight
                    All</label>
                <input type="checkbox" id="findMatchCase" class="toolbarField" tabindex="95">
                <label for="findMatchCase" class="toolbarLabel" data-l10n-id="pdfjs-find-match-case-checkbox-label">Match
                    Case</label>
            </div>
            <div id="findbarOptionsTwoContainer">
                <input type="checkbox" id="findMatchDiacritics" class="toolbarField" tabindex="96">
                <label for="findMatchDiacritics" class="toolbarLabel"
                       data-l10n-id="pdfjs-find-match-diacritics-checkbox-label">Match Diacritics</label>
                <input type="checkbox" id="findEntireWord" class="toolbarField" tabindex="97">
                <label for="findEntireWord" class="toolbarLabel"
                       data-l10n-id="pdfjs-find-entire-word-checkbox-label">Whole Words</label>
            </div>

            <div id="findbarMessageContainer" aria-live="polite">
                <span id="findResultsCount" class="toolbarLabel"></span>
                <span id="findMsg" class="toolbarLabel"></span>
            </div>
            <div id="scrollModeButtons" role="radiogroup">


                <button id="scrollHorizontal" class="secondaryToolbarButton" title="Use Horizontal Scrolling"
                        tabindex="64" data-l10n-id="pdfjs-scroll-horizontal-button" role="radio"
                        aria-checked="false">
                    <span data-l10n-id="pdfjs-scroll-horizontal-button-label">Horizontal Scrolling</span>
                </button>
                <button id="scrollWrapped" class="secondaryToolbarButton" title="Use Wrapped Scrolling"
                        tabindex="65" data-l10n-id="pdfjs-scroll-wrapped-button" role="radio"
                        aria-checked="false">
                    <span data-l10n-id="pdfjs-scroll-wrapped-button-label">Wrapped Scrolling</span>
                </button>
            </div>
            <button id="currentOutlineItem" class="toolbarButton" disabled="disabled"
                    title="Find Current Outline Item" tabindex="6"
                    data-l10n-id="pdfjs-current-outline-item-button">
                <span data-l10n-id="pdfjs-current-outline-item-button-label">Current Outline Item</span>
            </button>
            <button id="viewThumbnail" class="toolbarButton toggled" title="Show Thumbnails" tabindex="2"
                    data-l10n-id="pdfjs-thumbs-button" role="radio" aria-checked="true"
                    aria-controls="thumbnailView">
                <span data-l10n-id="pdfjs-thumbs-button-label">Thumbnails</span>
            </button>
            <button id="viewOutline" class="toolbarButton"
                    title="Show Document Outline (double-click to expand/collapse all items)" tabindex="3"
                    data-l10n-id="pdfjs-document-outline-button" role="radio" aria-checked="false"
                    aria-controls="outlineView">
                <span data-l10n-id="pdfjs-document-outline-button-label">Document Outline</span>
            </button>
            <button id="viewAttachments" class="toolbarButton" title="Show Attachments" tabindex="4"
                    data-l10n-id="pdfjs-attachments-button" role="radio" aria-checked="false"
                    aria-controls="attachmentsView">
                <span data-l10n-id="pdfjs-attachments-button-label">Attachments</span>
            </button>
            <button id="viewLayers" class="toolbarButton"
                    title="Show Layers (double-click to reset all layers to the default state)" tabindex="5"
                    data-l10n-id="pdfjs-layers-button" role="radio" aria-checked="false"
                    aria-controls="layersView">
                <span data-l10n-id="pdfjs-layers-button-label">Layers</span>
            </button>
        </div>

    </div> <!-- outerContainer -->

    <div id="rdfa-tmp-storage" style="display: none;"></div>

    <link rel="resource" type="application/l10n" href="/v1/api/pdf_api/locale/locale.json">
    <script src="/v1/api/pdf_api/js/pdf.mjs" type="module"></script>

    <link rel="stylesheet" href="/v1/api/pdf_api/css/viewer.css">

    <script src="/v1/api/pdf_api/js/viewer.mjs" type="module"></script>
    <!-- Include HTMX -->
    <script src="https://unpkg.com/htmx.org"></script>
    <script>
        function conceptButtonFunction(shortname, color, fullUrl) {
            const pdfApp = window.PDFViewerApplication;
            if (!pdfApp) {
                console.error('PDFViewerApplication is not available');
            } else {
                document.getElementById("current-concept-holder").setAttribute("data-current-concept", fullUrl)
                pdfApp.eventBus.dispatch("switchannotationeditorparams", {
                    source: this,
                    type: 32,
                    value: color,
                });
            }
        }
    </script>

</div>
